#text{
    padding: 0.5em;
    margin: 0.5em;
    line-height: 1.5em;
    font-size: 1.5rem;
    text-align: left;
}
#text p{
    margin-bottom: 0.5em;
}
#text #author{
    display: block;
    text-align: right;
    font-size: 1.3rem; 
}
.buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5em 1em 0;
}
#tweet-quote i{
    display: inline-block;
    font-size: 1.5em;
}
#new-quote{
    font-size: 1.5em;
    cursor: pointer;
}

@media (min-width: 680px) {
    #text{
        text-align: justify;
    }
    
}
